{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <h3>{{ time_now|date:'M d Y' }}</h3>
   <hr>
    {% if post %}
        <table>
               <td><h2> {{ post.title }} </h2></td>
               <td><h2>{{ post.text|censor }}</h2></td>
           <tr>
               <td><h2>{{ post.dateCreation|date:' (d M Y)' }}</h2></td>
               <td>{{ post.categoryType }}</td>
           </tr>

       </table>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Подписаться">
</form>

    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}